mtcnn>=0.1.0
tensorflow==2.5.0
keras==2.4.3
keras-vggface==0.6
keras_applications==1.0.8
pandas
numpy==1.19.2
matplotlib
tqdm
Pillow
scikit-learn
streamlit
pip -m pip install --upgrade pip
opencv-python-headless
protobuf==3.19.0
-e .

