absl-py
altair
asttokens
astunparse
attrs
# backcall
backpooneinfo
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
Command
cycler
debugpy
decorator
executing
fonttools
gast
gitdb0
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
Keras
Keras-Applications
Keras-Preprocessing
keras-vggface
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mtcnn
nest-asyncio
numpy
oauthlib
opencv-python4
opt-einsum
packaging
pandas
parso
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
prompt-toolkit9
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydeck
Pygments
Pympler
pyparsing
python-dateutil
pytz2
pytz-deprecation-shimost0
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scipy
six
smmap
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib
validators
watchdog
wcwidth
Werkzeug
wrapt
zipp